{% extends 'portal/layout.html' %}

{% block portal %}
  {{ message }}
  <pre>
_____________________________
      GnomusPHP
          *
         {_}
        /   \
       /     \
      /_______\
   {`___________`}
  / /  o      o \ \
 (    (___O___)   )
 {      \__/      }
  {              }
   /{           }\
  /   “       “   \
 /_/     `“`     \\\
{____}##[ ~~ ]##{____}
(_/\\\\________/\\\\_)
     |____|____|
     |----|----|
     (__)```(__)
____________________________

  </pre>
{% endblock %}
